<a href="https://colab.research.google.com/github/PallaviSundar/AIML-Programs/blob/main/Datatype_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dictionary

In [3]:
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}
print("Initial dictionary:", my_dict)

print("Value for 'banana':", my_dict['banana'])

my_dict['date'] = 4
print("After adding 'date':", my_dict)

my_dict['apple'] = 10
print("After modifying 'apple':", my_dict)

del my_dict['cherry']
print("After deleting 'cherry':", my_dict)

print("Keys:", my_dict.keys())
print("Values:", my_dict.values())
print("Items:", my_dict.items())

print("Iterating through the dictionary:")
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

print("'banana' in my_dict:", 'banana' in my_dict)
print("'grape' in my_dict:", 'grape' in my_dict)

print("Get 'date' with default:", my_dict.get('date', 0))
print("Get 'fig' with default:", my_dict.get('fig', 0))

popped_value = my_dict.pop('date')
print("Popped value:", popped_value)
print("After popping 'date':", my_dict)

my_dict.clear()
print("After clearing:", my_dict)

Initial dictionary: {'apple': 1, 'banana': 2, 'cherry': 3}
Value for 'banana': 2
After adding 'date': {'apple': 1, 'banana': 2, 'cherry': 3, 'date': 4}
After modifying 'apple': {'apple': 10, 'banana': 2, 'cherry': 3, 'date': 4}
After deleting 'cherry': {'apple': 10, 'banana': 2, 'date': 4}
Keys: dict_keys(['apple', 'banana', 'date'])
Values: dict_values([10, 2, 4])
Items: dict_items([('apple', 10), ('banana', 2), ('date', 4)])
Iterating through the dictionary:
Key: apple, Value: 10
Key: banana, Value: 2
Key: date, Value: 4
'banana' in my_dict: True
'grape' in my_dict: False
Get 'date' with default: 4
Get 'fig' with default: 0
Popped value: 4
After popping 'date': {'apple': 10, 'banana': 2}
After clearing: {}

In [31]:
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}
print("Dictionary:",d,type(d))

Dictionary: {'name': 'Alice', 'age': 25} <class 'dict'>

## Tuple

In [4]:
my_tuple = (1, 2, 3, 'apple', 'banana')

print("First element:", my_tuple[0])
print("Last element:", my_tuple[-1])

print("Sliced tuple:", my_tuple[2:4])

print("Iterating through the tuple:")
for item in my_tuple:
    print(item)

another_tuple = ('cherry', 'date')
combined_tuple = my_tuple + another_tuple
print("Combined tuple:", combined_tuple)

print("Length of the tuple:", len(my_tuple))

print("'apple' in my_tuple:", 'apple' in my_tuple)
print("'grape' in my_tuple:", 'grape' in my_tuple)

First element: 1
Last element: banana
Sliced tuple: (3, 'apple')
Iterating through the tuple:
1
2
3
apple
banana
Combined tuple: (1, 2, 3, 'apple', 'banana', 'cherry', 'date')
Length of the tuple: 5
'apple' in my_tuple: True
'grape' in my_tuple: False

In [32]:
my_tuple = (1, 2, 3, 'apple', 'banana')
print("Tuple:", my_tuple, type(my_tuple))

Tuple: (1, 2, 3, 'apple', 'banana') <class 'tuple'>

## List

In [8]:
my_list = ["apple", "banana", "cherry", "date"]

print("First element:", my_list[0])
print("Last element:", my_list[-1])
print("Elements from index 1 to 3:", my_list[1:4])


my_list[1] = "blueberry"
print("List after changing element:", my_list)


my_list.append("elderberry")
my_list.insert(1, "apricot")
print("List after adding elements:", my_list)


my_list.remove("cherry")
popped_item = my_list.pop(2)
del my_list[0]
print("List after removing elements:", my_list)
print("Popped item:", popped_item)

print("Length of the list:", len(my_list))


if "blueberry" in my_list:
  print("Blueberry is in the list.")


my_list.sort()
print("Sorted list:", my_list)


another_list = [3, 1, 4, 1, 5, 9, 2]
sorted_another_list = sorted(another_list)
print("Original list:", another_list)
print("Sorted copy:", sorted_another_list)


my_list.reverse()
print("Reversed list:", my_list)

First element: apple
Last element: date
Elements from index 1 to 3: ['banana', 'cherry', 'date']
List after changing element: ['apple', 'blueberry', 'cherry', 'date']
List after adding elements: ['apple', 'apricot', 'blueberry', 'cherry', 'date', 'elderberry']
List after removing elements: ['apricot', 'date', 'elderberry']
Popped item: blueberry
Length of the list: 3
Sorted list: ['apricot', 'date', 'elderberry']
Original list: [3, 1, 4, 1, 5, 9, 2]
Sorted copy: [1, 1, 2, 3, 4, 5, 9]
Reversed list: ['elderberry', 'date', 'apricot']

## Set

In [7]:
my_set = {"apple", "banana", "cherry"}
print("Initial set:", my_set)

my_set.add("date")
print("After adding 'date':", my_set)

my_set.update(["elderberry", "fig"])
print("After adding multiple elements:", my_set)

my_set.remove("banana")
print("After removing 'banana':", my_set)

my_set.discard("grape")
print("After discarding 'grape':", my_set)

popped_item = my_set.pop()
print("Popped item:", popped_item)
print("After popping:", my_set)

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)

intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection_set)

difference_set1 = set1.difference(set2)
print("Difference of set1 and set2 (set1 - set2):", difference_set1)

difference_set2 = set2.difference(set1)
print("Difference of set2 and set1 (set2 - set1):", difference_set2)

symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric difference of set1 and set2:", symmetric_difference_set)

subset_check = {1, 2}.issubset(set1)
print("{1, 2} is a subset of set1:", subset_check)

superset_check = set1.issuperset({1, 2})
print("set1 is a superset of {1, 2}:", superset_check)

print("Length of my_set:", len(my_set))

print("'cherry' in my_set:", 'cherry' in my_set)
print("'banana' in my_set:", 'banana' in my_set)

my_set.clear()
print("After clearing my_set:", my_set)

Initial set: {'apple', 'banana', 'cherry'}
After adding 'date': {'apple', 'banana', 'cherry', 'date'}
After adding multiple elements: {'elderberry', 'fig', 'banana', 'cherry', 'apple', 'date'}
After removing 'banana': {'elderberry', 'fig', 'cherry', 'apple', 'date'}
After discarding 'grape': {'elderberry', 'fig', 'cherry', 'apple', 'date'}
Popped item: elderberry
After popping: {'fig', 'cherry', 'apple', 'date'}
Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of set1 and set2: {4, 5}
Difference of set1 and set2 (set1 - set2): {1, 2, 3}
Difference of set2 and set1 (set2 - set1): {8, 6, 7}
Symmetric difference of set1 and set2: {1, 2, 3, 6, 7, 8}
{1, 2} is a subset of set1: True
set1 is a superset of {1, 2}: True
Length of my_set: 4
'cherry' in my_set: True
'banana' in my_set: False
After clearing my_set: set()

## Dictionary real world example

In [10]:
book = {
    "title": "Romeo And Juliet",
    "author": "William Shakespere",
    "year_published": 1597,
    "genre": "Tragedy",
    "ISBN": "978-0345391803"
}
print("Book Title:", book["title"])
print("Author:", book["author"])


book["year_published"] = 2005

book["publisher"] = "Random House"

print("\nUpdated book information:")
print(book)

Book Title: Romeo And Juliet
Author: William Shakespere

Updated book information:
{'title': 'Romeo And Juliet', 'author': 'William Shakespere', 'year_published': 2005, 'genre': 'Tragedy', 'ISBN': '978-0345391803', 'publisher': 'Random House'}

In [9]:
book = {
    "title": "Romeo And Juliet",
    "author": "William Shakespere",
    "year_published": 1597,
    "genre": "Tragedy",
    "ISBN": "978-0345391803"
}

print("Book Title:", book["title"])
print("Author:", book["author"])

book["year_published"] = 2005

book["publisher"] = "Random House"

print("\nUpdated book information:")
print(book)

print("\nBook details:")
for key, value in book.items():
    print(f"{key.replace('_', ' ').title()}: {value}")

Book Title: Romeo And Juliet
Author: William Shakespere

Updated book information:
{'title': 'Romeo And Juliet', 'author': 'William Shakespere', 'year_published': 2005, 'genre': 'Tragedy', 'ISBN': '978-0345391803', 'publisher': 'Random House'}

Book details:
Title: Romeo And Juliet
Author: William Shakespere
Year Published: 2005
Genre: Tragedy
Isbn: 978-0345391803
Publisher: Random House

## Set real world Example

In [11]:
friend1_hobbies = {"reading", "cricket", "music", "travelling"}
friend2_hobbies = {"painting", "music", "travelling", "coding"}

common_hobbies = friend1_hobbies & friend2_hobbies

all_hobbies = friend1_hobbies | friend2_hobbies

only_friend1 = friend1_hobbies - friend2_hobbies

only_friend2 = friend2_hobbies - friend1_hobbies

print("Friend 1 hobbies:", friend1_hobbies)
print("Friend 2 hobbies:", friend2_hobbies)
print("Common hobbies:", common_hobbies)
print("All hobbies:", all_hobbies)
print("Only Friend 1's hobbies:", only_friend1)
print("Only Friend 2's hobbies:", only_friend2)

Friend 1 hobbies: {'music', 'cricket', 'reading', 'travelling'}
Friend 2 hobbies: {'painting', 'coding', 'travelling', 'music'}
Common hobbies: {'music', 'travelling'}
All hobbies: {'painting', 'music', 'travelling', 'coding', 'reading', 'cricket'}
Only Friend 1's hobbies: {'cricket', 'reading'}
Only Friend 2's hobbies: {'painting', 'coding'}

## List real world example

In [12]:
shopping_list = ["milk", "bread", "eggs", "butter"]

print("Original shopping list:", shopping_list)

shopping_list.append("fruits")
shopping_list.append("vegetables")
print("After adding items:", shopping_list)

shopping_list.remove("milk")
print("After buying milk:", shopping_list)

shopping_list.insert(1, "cheese")
print("After inserting cheese:", shopping_list)

shopping_list.sort()
print("Sorted shopping list:", shopping_list)

shopping_list.reverse()
print("Reversed shopping list:", shopping_list)

Original shopping list: ['milk', 'bread', 'eggs', 'butter']
After adding items: ['milk', 'bread', 'eggs', 'butter', 'fruits', 'vegetables']
After buying milk: ['bread', 'eggs', 'butter', 'fruits', 'vegetables']
After inserting cheese: ['bread', 'cheese', 'eggs', 'butter', 'fruits', 'vegetables']
Sorted shopping list: ['bread', 'butter', 'cheese', 'eggs', 'fruits', 'vegetables']
Reversed shopping list: ['vegetables', 'fruits', 'eggs', 'cheese', 'butter', 'bread']

## Tuple real world example

In [13]:
student = ("PallaviSundar", 20, "CSE", "RL Jalappa Institute")

print("Student Name:", student[0])
print("Age:", student[1])
print("Branch:", student[2])
print("College:", student[3])

name, age, branch, college = student
print(f"\n{name} is {age} years old, studying {branch} at {college}.")

Student Name: PallaviSundar
Age: 20
Branch: CSE
College: RL Jalappa Institute

PallaviSundar is 20 years old, studying CSE at RL Jalappa Institute.

## Nested if example

In [15]:
age = int(input("Enter your age: "))
has_id = input("Do you have a valid ID? (yes/no): ").lower()
is_student = input("Are you a student? (yes/no): ").lower()

if age >= 18:
    if has_id == "yes":
        print("You are an adult and have ID.")

        if age < 25 and is_student == "yes":
            print("You qualify for student discount.")

        elif age >= 60 or is_student == "yes":
            print("You qualify for a special offer.")

        elif not (is_student == "yes"):
            print("You are not a student, normal entry.")

        else:
            print("Normal adult entry allowed.")
    else:
        print("You need an ID to enter.")
else:
    print("You are under 18, entry not allowed.")

Enter your age: 70
Do you have a valid ID? (yes/no): yes
Are you a student? (yes/no): no
You are an adult and have ID.
You qualify for a special offer.

###1.)Imagine you are building a shopping cart system.Create a dictionary where keys are item names and values are prices.Ask the user to add 3 items to the cart.Print the total bill.
List

You are given a list of integers. Write a program to find:
####1.All pairs of numbers whose sum is equal to a target value.
Example: nums = [2, 4, 3, 7, 5], target = 7 → Pairs: (2,5), (4,3).
####2.Write a program to rotate a list by k positions.
Example: [1,2,3,4,5], k=2 → [4,5,1,2,3].
####3.Given a list of names, remove all names that start with a vowel.

Tuple

You have a list of tuples representing students:
students = [("Alice", 85), ("Bob", 92), ("Charlie", 78)]
####1.Find the student with the highest score.
####2.Sort the list of tuples by score (descending).
####3.Write a program to find all possible pairs of elements from two tuples.
Example: (1,2), (3,4) → [(1,3),(1,4),(2,3),(2,4)].
Given a tuple of numbers, check if it is strictly increasing.

Set

You are given two sets of students: one for Cricket and one for Football.
####1.Find students who play both games.
####2.Find students who play only Cricket.
####3.Find students who play either Cricket or Football but not both.
####4.Write a program to check if two lists are disjoint (no common elements) using sets.
####5.Given a string, find all unique vowels present in it using a set.


Dictionary

A company stores employee details in a dictionary:
employees = {"John": 50000, "Alice": 60000, "Bob": 45000}
####1.Find the employee with the maximum salary.
####2.Increase salary of all employees by 10%.
####3.Write a program to group words by their length using a dictionary.
Example: ["apple","bat","car","elephant"] → {3: ["bat","car"], 5:["apple"], 8:["elephant"]}
####4.Create a dictionary from a string where the key is each unique word and value is the number of times it appears.
Example: "the cat and the dog" → {'the':2,'cat':1,'and':1,'dog':1}

##Shopping Cart (Dictionary Example)

In [9]:
items = {"apple": 50, "banana": 20, "milk": 40, "bread": 30, "chocolate": 60}
cart = []

print("Available items:", items)

for i in range(3):
    item = input(f"Enter item {i+1}: ").lower()
    if item in items:
        cart.append(items[item])
    else:
        print("Item not available!")

print("Total Bill = $", sum(cart))

Available items: {'apple': 50, 'banana': 20, 'milk': 40, 'bread': 30, 'chocolate': 60}
Enter item 1: milk
Enter item 2: banana
Enter item 3: bread
Total Bill = $ 90

List Programs
1. Find Pairs with Target Sum

In [17]:
nums = [2, 4, 3, 7, 5]
target = 7

pairs = []
for i in range(len(nums)):
    for j in range(i+1, len(nums)):
        if nums[i] + nums[j] == target:
            pairs.append((nums[i], nums[j]))

print("Pairs with sum", target, ":", pairs)

Pairs with sum 7 : [(2, 5), (4, 3)]

2. Rotate a List by k

In [18]:
nums = [1, 2, 3, 4, 5]
k = 2
k = k % len(nums)

rotated = nums[-k:] + nums[:-k]
print("Rotated List:", rotated)

Rotated List: [4, 5, 1, 2, 3]

3. Remove Names Starting with Vowel

In [19]:
names = ["Alice", "Eve", "Bob", "Uma", "Charlie", "Oscar"]
result = [name for name in names if name[0].lower() not in "aeiou"]
print("Names after removing vowels:", result)

Names after removing vowels: ['Bob', 'Charlie']

Tuple Programs
1. Find Student with Highest Score

In [11]:
students = [("Alice", 85), ("Bob", 92), ("Charlie", 78)]
topper = max(students, key=lambda x: x[1])
print("Topper:", topper)

Topper: ('Bob', 92)

2. Sort by Score (Descending)

In [21]:
sorted_students = sorted(students, key=lambda x: x[1], reverse=True)
print("Sorted by score:", sorted_students)

Sorted by score: [('Bob', 92), ('Alice', 85), ('Charlie', 78)]

3. Find All Pairs from Two Tuples

In [22]:
t1 = (1, 2)
t2 = (3, 4)

pairs = [(a, b) for a in t1 for b in t2]
print("All pairs:", pairs)

All pairs: [(1, 3), (1, 4), (2, 3), (2, 4)]

4. Check if Tuple is Strictly Increasing

In [13]:
nums = (1, 2, 3, 4, 5)
is_increasing = all(nums[i] < nums[i+1] for i in range(len(nums)-1))
print("Strictly Increasing:", is_increasing)

Strictly Increasing: True

###Set Programs

In [24]:
cricket = {"Alice", "Bob", "Charlie"}
football = {"Bob", "David", "Eve"}

print("Both games:", cricket & football)

print("Only Cricket:", cricket - football)

print("Either but not both:", cricket ^ football)

list1 = [1, 2, 3]
list2 = [4, 5, 6]
print("Disjoint:", set(list1).isdisjoint(set(list2)))

s = "Hello, have a great day!"
vowels = set("aeiou")
found = {ch for ch in s.lower() if ch in vowels}
print("Unique vowels:", found)

Both games: {'Bob'}
Only Cricket: {'Charlie', 'Alice'}
Either but not both: {'Charlie', 'Eve', 'David', 'Alice'}
Disjoint: True
Unique vowels: {'a', 'e', 'o'}

###Dictionary Programs

In [14]:
employees = {"John": 50000, "Alice": 60000, "Bob": 45000}

max_salary = max(employees, key=employees.get)
print("Employee with max salary:", max_salary)

updated = {k: int(v*1.1) for k, v in employees.items()}
print("Updated salaries:", updated)

words = ["apple", "bat", "car", "elephant"]
grouped = {}
for w in words:
    grouped.setdefault(len(w), []).append(w)
print("Grouped by length:", grouped)

text = "the cat and the dog"
word_count = {}
for word in text.split():
    word_count[word] = word_count.get(word, 0) + 1
print("Word count:", word_count)

Employee with max salary: Alice
Updated salaries: {'John': 55000, 'Alice': 66000, 'Bob': 49500}
Grouped by length: {5: ['apple'], 3: ['bat', 'car'], 8: ['elephant']}
Word count: {'the': 2, 'cat': 1, 'and': 1, 'dog': 1}

##2.)
Mixed (List + Tuple + Set + Dictionary)

You are given a list of transactions as tuples:

transactions = [
    ("Alice", "Shoes", 2000),
    ("Bob", "Shirt", 1200),
    ("Alice", "Bag", 2500),
    ("Charlie", "Shoes", 2000)
]

1.Find total spending of each customer (use dictionary).

2.Find all unique items purchased (use set).

In [26]:
transactions = [
    ("Alice", "Shoes", 2000),
    ("Bob", "Shirt", 1200),
    ("Alice", "Bag", 2500),
    ("Charlie", "Shoes", 2000)
]

spending = {}
for name, item, price in transactions:
    spending[name] = spending.get(name, 0) + price

print("Total Spending of each customer:", spending)

unique_items = {item for _, item, _ in transactions}
print("Unique items purchased:", unique_items)

Total Spending of each customer: {'Alice': 4500, 'Bob': 1200, 'Charlie': 2000}
Unique items purchased: {'Bag', 'Shoes', 'Shirt'}

##3.)
Mixed (List + Tuple + Set + Dictionary)

You are given a list of transactions as tuples:

transactions = [
    ("Alice", "Shoes", 2000),
    ("Bob", "Shirt", 1200),
    ("Alice", "Bag", 2500),
    ("Charlie", "Shoes", 2000)
]

1.Find total spending of each customer (use dictionary).

2.Find all unique items purchased (use set).

1. Remove Duplicate Dictionaries from a List

In [27]:
data = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Alice", "age": 25}
]

unique_data = []
seen = set()

for d in data:
    t = tuple(d.items())
    if t not in seen:
        seen.add(t)
        unique_data.append(d)

print("After removing duplicates:", unique_data)

After removing duplicates: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

2. Top 3 Most Frequent Words in a Paragraph

In [28]:
paragraph = "the cat and the dog chased the cat and the mouse"

word_count = {}
for word in paragraph.split():
    word_count[word] = word_count.get(word, 0) + 1

sorted_words = sorted(word_count.items(), key=lambda x: x[1], reverse=True)

top3 = sorted_words[:3]

print("Word Count:", word_count)
print("Top 3 most frequent words:", top3)

Word Count: {'the': 4, 'cat': 2, 'and': 2, 'dog': 1, 'chased': 1, 'mouse': 1}
Top 3 most frequent words: [('the', 4), ('cat', 2), ('and', 2)]

##4.)
Write a program to check if two lists are anagrams of each other (use dictionary for frequency count).

In [29]:
def are_anagrams(list1, list2):
    if len(list1) != len(list2):
        return False

    freq1 = {}
    for item in list1:
        freq1[item] = freq1.get(item, 0) + 1

    freq2 = {}
    for item in list2:
        freq2[item] = freq2.get(item, 0) + 1

    return freq1 == freq2


list1 = ['a', 'b', 'c']
list2 = ['c', 'a', 'b']
print("Are Anagrams?", are_anagrams(list1, list2))  # True

list1 = [1, 2, 3, 4]
list2 = [4, 3, 2, 5]
print("Are Anagrams?", are_anagrams(list1, list2))  # False

Are Anagrams? True
Are Anagrams? False

1. Check if a string is a palindrome

In [3]:
text = input("Enter a string: ")

cleaned = text.replace(" ", "").lower()

if cleaned == cleaned[::-1]:
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter a string: garag
Palindrome

2. Count vowels, consonants, digits, and spaces

In [4]:
text = input("Enter a string: ")

vowels = consonants = digits = spaces = 0
for ch in text:
    if ch.lower() in "aeiou":
        vowels += 1
    elif ch.isalpha():
        consonants += 1
    elif ch.isdigit():
        digits += 1
    elif ch.isspace():
        spaces += 1

print("Vowels:", vowels)
print("Consonants:", consonants)
print("Digits:", digits)
print("Spaces:", spaces)

Enter a string: pallavi
Vowels: 3
Consonants: 4
Digits: 0
Spaces: 0

3. Remove all special characters

In [6]:
import re

text = input("Enter a string: ")
# Keep only letters, digits, and spaces
cleaned = re.sub(r'[^A-Za-z0-9 ]+', '', text)
print("String after removing special characters:", cleaned)

Enter a string: pallu@1234@#eft
String after removing special characters: pallu1234eft

4. Find the longest word in a sentence

In [7]:
sentence = input("Enter a sentence: ")
words = sentence.split()
longest = max(words, key=len)
print("Longest word:", longest)

Enter a sentence: pallavi is an intelligent girl
Longest word: intelligent